/*   ---LOOKS---
COLORS
White - #ffffff
Gray blue - #7fcbcb
Aqua - #2b7a81
Gray - #5f5f5f
Black - #000000
*/

body {
	background-image: url('images/dark_water.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 25%;
	text-align: center;		/*centers #content*/
}

#container {
	width: 40%;
	margin: auto;
	position: relative;
	text-align: left;		/*aligns text left*/
}
	
.header {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;		/*centers header*/
}

.content {
	width: 100%;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 30px double #7fcbcb;
	border-bottom: 30px double #7fcbcb;
	border-top-left-radius: 85px 100px;
	border-top-right-radius: 85px 100px;
	border-bottom-right-radius: 85px 100px;
	border-bottom-left-radius: 85px 100px;
}
.post {
	width: 95%;
	margin: auto;
	padding: 20px;
	border: 5px solid #ffffff;
	border-radius: 50px;
}




/*   ---TEXT---   */

body, h1, h2, h3, h4, h5, h6, table, tr, td, div, p, a {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 20px;
}

strong {
	font-weight: 700;
}

p {
	padding-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
	font-weight: 600;
	color: #2b7a81;
	text-transform: uppercase;
}

.name{
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 100px;
}

a {
    color: #7fcbcb;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #7fcbcb;
    font-weight: 600;
    text-decoration: underline;
}